.challengeBoxContainer {
  min-height: 350px;
  background: var(--white);
  border-radius: 5px;
  box-sizing: content-box;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem 0 2rem;

  text-align: center;
}

.challengeNotActive {
  align-items: center;
  flex-direction: column;
}

.challengeNotActive strong {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  min-width: 70%;
  margin-top: 3rem;
  margin: 3rem 1.5rem 0;
  font-size: 1.15rem;
}

.challengeNotActive p img {
  width: 3rem;
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 8rem;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.challengeActive footer {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.challengeActive footer button {
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  border-color: var(--gray-line);
  border-style: solid;
  border-width: 1px 0 0 0;
  
  color: var(--white);

  font-size: 1.35rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  
  transition: filter 0.2s;
}

@media(min-width: 420px) {
  .challengeBoxContainer {
    height: 100%;
    box-sizing: border-box;
  }

  .challengeNotActive p {
    flex-direction: row;
  }

  .challengeNotActive p img {
    width: 2.4rem;
    margin-right: 1.5rem;
  }

  .challengeActive main {
    margin-bottom: 6rem;
  }

  .challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    border: 1px solid var(--gray-line);
    align-items: center;
  }

  .challengeActive footer button {
    height: 5rem;
    width: 100%;
    padding: 0;
  }

  .challengeActive footer button:first-child {
    border-width: 1px 1px 0 0;
  }
  
  .challengeActive footer button:last-child {
    border-width: 1px 0 0 1px;
  }

  .challengeActive footer button:first-child {
    margin-top: 0;
  }
}

.challengeActive footer button.challengeFailedButton {
  background: rgba(232, 63, 91, 0.05);
  color: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
  background: rgba(76, 214, 43, 0.05);
  color: var(--green);
}

.challengeActive footer button:hover {
  filter: brightness(0.65);
}

@media(min-width: 900px) {
  .challengeBoxContainer {
    margin: 0;
  }
}

@media(min-width: 1080px) {
  .challengeBoxContainer {
    min-height: none;
  }
  
  .challengeNotActive {
    display: flex;
  }
  
  .challengeNotActive strong {
    font-size: 1.5rem;
  }
  
  .challengeNotActive p {
    text-align: left;
    font-size: 1rem;
  }
  
  .challengeActive header {
    font-size: 1.25rem;
  }
  
  .challengeActive main {
    margin-top: 0;
  }
  
  .challengeActive main p {
    font-size: 1rem;
  }
  
  .challengeActive footer {
    margin-top: 0;
  }
}